[2020-10-27 00:20] jmansour commented on #199
@rbeucher can fill you in on the `UWGeo` method for advecting vertically only.  I suspect the easiest thing might be to take a copy of the velocity field, set the required axis to zero, and then use that for the advection.

For the interpolation, you can simply do evaluate using the passive tracer coordinates as an input.  Something like this should work on any recent version of `underworld`.
[cod

[2020-10-27 01:22] rbeucher commented on #199
Hi @HanyMKhalil ,

We used to have that option but I removed it a few months ago...
You can still do it as @jmansour is suggesting. Maybe create a copy of the velocityField with the x component set to 0. and pass a new advector to the passive tracers,

[2020-10-27 02:48] HanyMKhalil commented on #199
@rbeucher thanks Romain,
Is there a possibility that you could give me some line samples to start by. I am just still new and try to get familiar with how to copy and pass the advection. Do I do that when I am constructing the passive tracers before initiate the model??

[2020-10-27 05:42] HanyMKhalil commented on #201
Hi Romain:

I tried it in this way and seems to work nicely

maxDamage = 0.22
Model.plasticStrain.data[:] = maxDamage * np.random.rand(*Model.plasticStrain.data.shape[:])

#This function resets damage to 0 where x is < 100 and > 900 km
Model.plasticStrain.data[:,0] *=(Model.swarm.particleCoordinates.data[:,0]>(GEO.nd(100.0*u.kilometer))) & (Model.swarm.particleCoordinates.data[:,0]<(GEO.nd(150.0*u

[2020-10-31 04:05] patrice-rey opened #203 "On restart FSE swarms is not reloaded."
Hi Romain, hope you are doing great. Students from my 3rd-year class have noticed that on restart the FSE swarm and other user-defined swarms (e.g. surface and moho markers) are not reloaded. I have checked and I can confirm that's case. Cheers, Patrice

[2020-11-01 22:17] rbeucher commented on #203
Hi @patrice-rey,

Thanks. Can you just confirm the version you are using. I thought we had fixed that for Benedicte. Last time we spoke things were OK.
Maybe your student can send me an example of what is going wrong. I may have overlooked something.

Romain

[2020-11-01 23:22] patrice-rey commented on #203
Hi Romain, we are using 2.10.1-dev and the Tutorial 1.
Cheers
Patrice

[2020-11-02 00:29] #198 closed

[2020-11-02 00:32] #196 closed

[2020-11-02 02:15] rbeucher commented on #201
Sorry it took so long @HanyMKhalil. That's one way to do it. There are others of course.

[3D_Plastic_Strain_Initial_Distribution.zip](https://github.com/underworldcode/UWGeodynamics/files/5472402/3D_Plastic_Strain_Initial_Distribution.zip)

[2020-11-02 03:17] rbeucher commented on #203
Hi @patrice-rey

I can't reproduce the issue. It looks fine for me...

![image](https://user-images.githubusercontent.com/3680918/97826560-04167a00-1d16-11eb-92f9-ce350e805baa.png)

[2020-11-02 04:08] patrice-rey commented on #203
Yes, the swarms are loaded but they seems to not be updated.
After a restart the FSE appears while frozen, while the rest of the model carries on.
I have sent to you a movie and the input script via email.
P.

[2020-11-02 06:07] HanyMKhalil commented on #199
@jmansour  @rbeucher any lines could help me to start so that i only advect the passive tracers in z direction only and then save strain rate on it??

[2020-11-02 06:27] rbeucher commented on #199
Yes. I'll send you something. Sorry been busy with other things

[2020-11-04 23:03] #201 closed

[2020-11-04 23:59] rbeucher commented on #203
OK. The swarms are reloaded. Pb is at checkpoint they are not saved to files..
I'm on it

[2020-11-06 01:06] rbeucher commented on #203
Stupid bug... I have found the pb. Adding that to dev and then issuing a patch for master. I will do a 2.10.2 release.

[2020-11-06 01:12] #203 closed

[2020-11-06 23:05] patrice-rey commented on #203
Thanks Romain, all bugs are. Cheers

[2020-11-15 09:29] CHENMING27 opened #205 "add compensating vertical influx velocities"
Hi  @rbeucher

I want to use UEGeo to Investigate the process of fault formation at mid-ocean ridge. How can I add compensating vertical influx velocities which are constant along the whole upper and lower boundaries are derived from spreading to ensure conservation of model volume?

[2020-11-16 04:06] NengLu opened #207 "Unexpected asymmetric results from a simple model"
Hi,
I tried to reproduce the mode case2 in Crameri2012, it has simple geometry and linear rheology settings.
The resolution is the same as the reference 560*340 (2800km*(700+150)km). The boundary condition is set as:
Model.set_velocityBCs(left=[0., None], right=[0., None], bottom=[0.,0.],  top = [None,0.])

The results of the strain rate field and surface topography (like Fig.7 in the reference) s

[2020-11-16 04:07] rbeucher commented on #207
@julesghub can you have a look at this?

[2020-11-16 04:45] NengLu opened #208 "Pb in geothermal structure of the crust"
Hello,

Is it necessary to define surface heat flow for maintaining the thermal structure in the crust?
Take "Tutorial_1_ThermoMechanical_Model " for example,
the near-surface temperature is too high after initial, T = 103 u.degC at 0 km.
![image](https://user-images.githubusercontent.com/57476594/99212608-95f6aa80-281f-11eb-8321-563bee9a19c6.png)
That can be imporved by fixing the surface nodes t

[2020-11-16 05:10] patrice-rey commented on #208
Hi NengLu
_Is there any better way to control this?_
The one you mention is pretty good. That's the trick I use to fix the temperature in the air layers.

_... how to input the radiogenicHeatProd of the crust in UWG?_
Check Tutorial_1_ThermoMechanical_Model for an example.

An exponential decrease in RHP can be achieved via a function, or a stack of layer of decreasing radiogenic heat production.

[2020-11-16 05:54] NengLu commented on #208
Hi Patrice,
Thank you, I am going the check the tutorial again.

[2020-11-18 09:03] HanyMKhalil commented on #199
Hi all, is
strainrate_object.evaluate(passiveSwarm.data) should be defined while defining the passive swarms? like before the model initial or after?
I also think there is no advection in y direction only in x and z correct?

[2020-11-24 02:32] NengLu commented on #207
Similar issue in underworld2 about the stick air model: https://github.com/underworldcode/underworld2/issues/363
To fix the problem need good scaling, small time interval for calculation (1-3 ka), and using the direct solver (better without using the penalty method)

[2020-11-24 02:32] #208 closed

[2020-12-09 01:28] HanyMKhalil commented on #199
So I followed your advice in order to advect the passive tracers only in z direction so I did it this way, it works fine on my laptop but on Gadi gives me error.

this is my code:

`
npoints = 1024 # This is the number of points used to define the surface

xx = np.linspace(GEO.nd(Model.minCoord[0]), GEO.nd(Model.maxCoord[0]), npoints)
yy = np.linspace(GEO.nd(Model.minCoord[1]), GEO.nd(Model.maxCoo

[2020-12-09 02:16] benmenadue opened #211 "Gadi install script: hard-coded paths"
Hi,

In the Gadi install script, you have hard-coded paths to the MPI libraries. Moreover, these are to the internal paths that may change over time:
https://github.com/underworldcode/UWGeodynamics/blob/e99e225d4b149497827e09d14b3f4df5822b380a/docs/nci_gadi/install_on_gadi.sh#L21

A much better solution is to load the appropriate `openmpi` module and use the `$OPENMPI_ROOT` environment variable th

[2020-12-09 03:57] HanyMKhalil commented on #199
@julesghub any advice??

[2020-12-09 06:16] Anti-MAGEe opened #212 "What commands does the shell script have in UWGeodynamics_2.9.10.sh?"
Hi,
I am using Underworld2/UWGeodynamics on Gadi, and I have a problem at the installation stage.

In the 12th line of script.pbs:

source /scratch/q97/codes/UWGeodynamics_2.9.10.sh

What commands does the shell script have in UWGeodynamics_2.9.10.sh

[2020-12-09 21:36] jmansour commented on #199
@HanyMKhalil, does this work in serial?

You might also need to add a check to ensure correct operation on processes that don't have any particles, although I don't believe that this is the issue here as the exception seems to have been raised on all procs.

Something like:

[code]
I've also added the `deform_swarm()` context managers that are required any time you move particles (they act to migr

[2020-12-09 21:58] patrice-rey commented on #212
Hi Luo, are you a member of q97?

[2020-12-09 22:03] Anti-MAGEe commented on #212
Hi Patrice, I am a member of jq14.
I installed UW but don’t know how to use it.

获取 Outlook for iOS<https://aka.ms/o0ukef>
________________________________
发件人: Patrice Rey <notifications@github.com>
发送时间: Thursday, December 10, 2020 8:58:47 AM
收件人: underworldcode/UWGeodynamics <UWGeodynamics@noreply.github.com>
抄送: Peigen Luo <p.luo@unsw.edu.au>; Author <author@noreply.github.com>
主题: Re: [underw

[2020-12-09 22:12] Anti-MAGEe commented on #212
Hi Patrice, I am a member of jq14.
I installed UW under my group but don’t know how to use it.

[2020-12-09 22:30] HanyMKhalil commented on #199
Hi John, yes it works perfectly on serial. but it does not work at all on Gadi in parallel!!

Shall I try it on Gadi with the new deform_swarm() ??

[2020-12-09 23:33] jmansour commented on #199
If it works in serial without the `deform_swarm()` context managers (which I'm surprised to hear), then I don't think it'd make a difference in parallel.  However, I'm almost certain you will need to make sure there's greater than zero particles, as in those situations the `UC_tracer_velocity` objects will probably not be of compatible shape (which is probably what the error message is saying).

B

[2020-12-09 23:52] HanyMKhalil commented on #199
I tried it but on terminal but says

*hkha0004@MU00106269X*:*~*$ mpirun -np 2 python
3D-ortho-0.32v-2km-Gadi-test.py

-bash: mpirun: command not found

On Thu, 10 Dec 2020 at 10:33, John Mansour <notifications@github.com> wrote:

[2020-12-09 23:56] jmansour commented on #199
If you are using Docker, you will have to do this from within the Docker environment.  Although, you can start a terminal from the Jupyter menu and it'll give you basically the same thing.

[2020-12-10 00:44] patrice-rey commented on #212
Then you should replace "source /scratch/q97/codes/UWGeodynamics_2.9.10.sh"
by something like "source /scratch/jq14/codes/UWGeodynamics_2.9.10.sh".
Cheers
Patrice

[2020-12-10 00:56] HanyMKhalil commented on #199
Hi John, it seems to work well, I ran it on 16 core with low resolution. I will try on a higher resolution with bigger number of passive tracers to make sure. But yes I do not fully understand the problem

[2020-12-10 01:44] Anti-MAGEe commented on #212
Hi Patrice, I tried as you said,
source /g/data/jq14/lp5029/codes/UWGeodynamics_2.9.6.sh
and the machine recalled a bash error as:
bash: /g/data/jq14/lp5029/codes/UWGeodynamics_2.9.6.sh: No such file or directory
Please help

Kind regards
Peigen

[2020-12-10 03:15] patrice-rey commented on #212
Then UWGeodynamics_2.9.6.sh is not where it is supposed to be.

[2020-12-10 04:10] Anti-MAGEe commented on #212
Hi Patrice,
Thank you for your help.
The people from NCI helped me to install UWGeodynamics_2.9.6 in path /g/data/jq14/lp5029/codes/UWGeodynamics_2.9.6
They told me that UWGeodynamics_2.9.6.sh should be a shell script file which I should create ahead before I load the PBS commands.
The problem is I can't find UWGeodynamics_2.9.6.sh in any folder I have. (I double checked about this)
Will this UWGe

[2020-12-10 04:40] patrice-rey commented on #212
First check if the shell script in not here: /g/data/jq14/lp5029/codes/UWGeodynamics_2.9.6/UWGeodynamics_2.9.6.sh.

If it is not there, then use the script below (courtesy of Julian Giodani) and put it in
/g/data/jq14/lp5029/codes/

Then follow the instruction at the top of the script.

Cheers

#===================
#!/bin/bash

usage="
Usage:
  A script to install and run an Underworld software st

[2020-12-10 05:10] Anti-MAGEe commented on #212
[code]
This is the commands in my install_on_gadi.sh file which I used for installation.
I reinstalled and still cannot find the UWGeodynamics_2.9.6.sh file

[2020-12-10 21:10] patrice-rey commented on #212
UWGeodynamics_2.9.6.sh is install_on_gadi.sh.
Rename install_on_gadi.sh to UWGeodynamics_2.9.6.sh

[2020-12-11 00:33] Anti-MAGEe commented on #212
Thank you Patrice. Problem fixed.
Appreciated!

[2020-12-15 05:24] rbeucher commented on #197
Hi @bknight1 ,

I have added the option to define the densities as UW functions. (see development branch. This will be folded into version 2.11 once we have a release)
You can also do what you were describing but accessing the density field via Model._densityField.data...

I think @NengLu should be able to help if needed.

I am closing this for now.
R

[2020-12-15 05:24] #197 closed

[2020-12-15 05:25] rbeucher commented on #207
@NengLu , When you have time, please update that thread for documentation.

[2020-12-15 05:26] rbeucher commented on #211
Thanks @benmenadue.
Will use that!

[2020-12-15 05:27] rbeucher commented on #211
@julesghub  can you change the script please?

[2020-12-15 05:28] #212 closed

[2020-12-15 05:41] julesghub commented on #211
Yep, can look into it

[2020-12-15 08:54] NengLu commented on #207
Sure.
More info about the problem. The unexpected asymmetric results can be subject to an instability termed a ‘‘sloshing,” or ‘‘drunken sailor effect” instability (Kaus et al., 2010). All of the approaches to free surface simulations (pseudo-free-surface formulation, 'stick air' approximation, ALE scheme) may cause that.

This instability is arisen from the large density contrast typical at a fre

[2020-12-15 09:02] rbeucher commented on #207
Thanks @NengLu

[2020-12-15 09:02] #207 closed

[2020-12-15 23:01] bknight1 commented on #197
Thanks @rbeucher

I did try the Model._densityField.data approach but it wouldn't update the density field on v2.10. I did manage to get it to work by converting density to temperature. I'll give it a go on v2.11.

Cheers

[2020-12-16 22:33] rbeucher commented on #205
You are gonna have to work out the maths. If you define Dirichlet conditions on 3 out of 4 walls you will have conservation of mass as stokes is solving for it.

[2020-12-16 22:33] #205 closed

[2020-12-17 01:14] HanyMKhalil commented on #199
Hi All, I have tried the loop and it works but the passive tracers does not really deform accurately, here is a picture
<img width="426" alt="Screen Shot 2020-12-17 at 12 12 39 pm" src="https://user-images.githubusercontent.com/53889438/102425411-5b23a480-4061-11eb-93d0-b9ee1f3b16aa.png">

[2020-12-17 01:17] HanyMKhalil commented on #199
@jmansour @rbeucher @julesghub  any ideas how I can make it more accurate?

[2020-12-17 01:40] jmansour commented on #199
It's impossible for us to tell you what's gone wrong here.

What result do you get if you advect with whole velocity (as opposed to just the vertical velocity)?

You might also consider using a simple synthetic velocity configuration to confirm correct behaviour.

[2020-12-17 01:58] HanyMKhalil commented on #199
Hi John,
so basically I applied a horizontal velocity of magnitude 1.28 cm/yr, the element size is 64x64
the white line represents the passive tracers on surface advect in all directions while the yellow line is the passive tracers in the middle of upper crust (so to not get affected by air) with advect in z direction only
<img width="526" alt="Screen Shot 2020-12-17 at 12 54 50 pm" src="https://u

[2020-12-17 11:58] HanyMKhalil commented on #199
I guess I understood the tracers advection behaviour, actually they work quite well while the model moves up in initial rifting stages, however when the rift starts to widen in x direction and no more vertical moment, the vertical component of the tracers remains static and that's why this difference happens.

I found also that I can visualise the strain rate by do contouring instead of advecting

[2020-12-17 23:32] rbeucher commented on #199
Not sure I understand what is going on with the yellow tracers.

[2020-12-17 23:56] jmansour commented on #199
Okay, it seems that this is working as it should. Should this ticket be closed @HanyMKhalil ?

[2020-12-18 00:00] HanyMKhalil commented on #199
yes sure, thanks all for that ^_^

[2020-12-18 00:00] #199 closed

[2020-12-25 16:44] peanutchun opened #217 "ModuleNotFoundError: No module named 'glucifer'"
I install the docker software on my ubuntu 20.04, and run the jupyter notebook sucessfully follow the install guide https://uwgeodynamics.readthedocs.io/en/latest/Installation.html.

The environment:
- underworld           2.10.0b0
- UWGeodynamics        2.10.2
- REPOSITORY                     TAG       IMAGE ID       CREATED       SIZE
- underworldcode/uwgeodynamics   latest    5ecbd01ee8f3   7 w

[2020-12-26 09:45] NengLu commented on #217
Hi peanutchun,
The module "glucifer" has been changed into "UWGeodynamics.visualisation", which is the same as _glucifer_ for visualisation, you can import it as:
`from UWGeodynamics import visualisation as vis`

[2020-12-26 09:49] peanutchun commented on #217
Thank you so much

[2020-12-26 09:49] peanutchun commented on #217
Thank you so much

[2020-12-26 09:49] #217 closed

[2021-01-04 00:29] #211 closed

[2021-01-28 02:59] NengLu opened #221 "Problem in using LecodeIsostasy as bottom boundary condition in convergence or subduction case"
Hi guys,
There is a problem in using lecodeisostasy as the bottom boundary condition when another kind of material deforms and touches the bottom. The bottom material must only be the material set at the very beginning (reference_mat). This needs to be enhanced to handle this situation.

Take a 2D convergence model for example, the velocity boundary condition is set as:
[code]

The model runs seve

[2021-01-28 03:35] patrice-rey commented on #221
Hi NengLu, if you are lucky your experiment could work by setting the reference_mat not to the red material but the blue material above. This trick as worked in some of my experiment.  Alternatively, make your box deeper.

[2021-01-28 03:45] patrice-rey commented on #221
... there is always a way ... you can setup a phase change to transform the blue material into the red material before it touches the base of the box.

[2021-01-28 04:59] NengLu commented on #221
Hi Patrice,
Thank you for your tips. But the reference_mat setting trick doesn't work for my case.
The phase change worths a shot, going to try that, thanks!

[2021-02-08 05:31] Peigen-L opened #222 "Tracing the velocity and displacement using passive tracer"
Hi,
I am trying to trace the velocity and displacement for a specific particle by updating the position of the passive tracer for every timestep using post solve hook function as:
[code]

Machine recalled error as 'TypeErrorTraceback (most recent call last)
[code]

Is there any possibility to trace the movement for a specific point and out put its velocity every time-step?

[2021-02-08 22:43] rbeucher commented on #222
Hi @Peigen-L
You can use a postSolveHook function, that is fine. However the one you have implemented does not do anything. It is called by the code after each iteration so you need to define what is done in there...

As for the error, it is a classic Python error. You are trying to add a float to a list.
In Python we usually use list comprehension to do this: new_list = [val + something for val i

[2021-02-08 23:40] Peigen-L commented on #222
Hi @rbeucher

Thank you so much for your help, I will try with your suggestions.

kind regards

Peigen

[2021-02-08 23:40] #222 closed

[2021-02-19 15:02] plovely opened #226 "Autocomplete not working in Jupyter notebooks (Docker)"
Hi Julian, Romain, et al.,

This may be user error, but I am having trouble with autocompletion when using Jupyter Notebooks in docker.  I've tried versions underworldcode/uwgeodynamics:latest and underworldcode/uwgeodynamics:v2.9.5.

Autocompletion works in some cases, but the specific issue I am having is when defining rheologies.  I cannot see the rheology names that are available in the librar

[2021-02-21 23:00] rbeucher commented on #226
Thanks @plovely for reporting this. I will have a look

[2021-02-21 23:07] rbeucher commented on #226
I can reproduce the issue. Let's see if I can resolve that.

[2021-02-21 23:20] rbeucher commented on #226
As a temporary workaround, you can access all the options by doing

[code]

[2021-02-21 23:33] rbeucher commented on #226
Looks like a ipython / jupyter issue

https://github.com/ipython/ipython/issues/12740

[2021-02-22 01:38] julesghub commented on #226
I suppose we could lock down `jedi` in the docker for now with
`pip install jedi==0.17.2`
https://github.com/ipython/ipython/issues/12740#issuecomment-753614077

[2021-02-22 02:38] rbeucher commented on #226
I have tried that, I think there is something else...

[2021-02-22 04:58] rbeucher commented on #226
@julesghub There seem to be an issue when overriding both __getattr__ and __dir__ in a class.
I have asked the ipython people.
Could be a security thing as I can see how this could be used to run maleficent code.

[2021-02-22 14:34] plovely commented on #226
Thanks for working on it so quickly!  For now, the dir(rh) workaround gets the job done.  Cheers!

[2021-02-22 22:25] rbeucher commented on #226
I suspect this is related to ipython / Jupyter and may have security reasons... I'll see if I can find a way around.

[2021-03-10 12:44] gthyagi opened #228 "Residual value is 'nan' during solver iterations"
Hi,
I am trying reproduce OzBench etal 2008 models in 3D with viscoplastic rheology in the subducting plate crust. While running the model, residual value during each iteration is '-nan'. I am not sure what cause this issue. Any suggestions or help? I am attaching the python script. Thanks.
[subduction_3d_var_slab_dep.py.txt](https://github.com/underworldcode/UWGeodynamics/files/6115844/subduction

[2021-03-24 02:09] patrice-rey opened #229 "Version 2.10.5"
Hello Romain or Julian

In my pbs I have replaced "source /scratch/q97/Underworld/UWGeodynamics_2.10.sh" by
"source /scratch/q97/codes/install_on_gadi.sh" in order to access the new version UWGeo 2.10.5.

On well tested 2D model I've got this warnings on Gadi:

/scratch/q97/codes/UWGeodynamics_2.10.5/lib/python3.8/site-packages/UWGeodynamics/_model.py:1524: UserWarning: You have not passed anythin

[2021-03-24 02:48] julesghub commented on #229
The warnings above were only made in `2.10.5` UWGeo release. The warnings occur when you call `init_model()` in the UWGeo script _without_ arguments `temperature` and `pressure`.
Can you replace the `init_model()` line with this line:
`Model.init_model(temperature="steady-state", pressure="lithostatic")`

does that change things?

PS: have you run the model with `2.10.5` on your local machine?

[2021-03-24 11:21] patrice-rey commented on #229
Thanks of the help Julian.

Yes, with  Model.init_model(temperature="steady-state", pressure="lithostatic”) the warning is gone.

Now I bumped into another issue …

An uncaught exception appears to have been raised by all processes. Set the 'UW_ALL_MESSAGES' environment variable to see all messages. Rank 0 message is:
Traceback (most recent call last):
  File "./L2_Fst7Ext.py", line 582, in <modul

[2021-04-22 07:46] Peigen-L commented on #228
I think your script missed the scaling factors in the very beginning.

[2021-04-22 10:46] gthyagi commented on #228
@Peigen-L Thanks now it seems working. In general, I am not very comfortable in using UWGeodynamics and everything happens under the hood. I created the same model in the underworld on the same day and it worked perfectly.

[2021-04-22 10:46] #228 closed

[2021-04-23 04:29] longgangfan opened #230 "1_20_ColumnsTractionBottom example run error"
I tried to run the example 1_20_ColumnsTractionBottom.
1. When I run it in serial， everything is ok.
2.  When I convert it to .py and run with mpirun -np 4 in the local machine and use `Model.run_for(duration=1e4 * u.year, checkpoint_interval = 5e3 * u.year)`
the line `P = Model.lithostatic_pressureField.evaluate(np.array([[x,y]]))` cause an evaluate error "out of domain"
So I comment out all the

[2021-04-23 10:43] alireza-bahadori opened #231 "Yield stress in 3D based on Drucker-Prager criterion"
Hi everyone,

It seems to me that there is a typo in the formula for calculating the yield stress in 3D based on Drucker-Prager criterion function defined in '_rheology.py'. I believe in the denominator of the formula we should have: sqrt(3) * (3 - sin(phi)). I'm attaching a screenshot of what I have seen in the code here.

![Screen Shot 2021-04-21 at 1 04 54 PM](https://user-images.githubusercont

[2021-04-24 15:39] longgangfan commented on #230
After changing from mpich 3.4.1 to openmpi 3.1.6, everything is ok.

[2021-04-24 15:39] #230 closed

[2021-05-07 14:31] benedictecenki opened #232 "y-shift in temperature recorded by passive tracers v.2.10.2"
I have run a couple of experiments in v.2.10.2 with a series of passive tracers that shall track a few specific fields (e.g. temperature, pressure, materialField...).

It seems that there is a negative y-shift with the temperature (at least) recorded by the particle.

As an example at t=0, for a particule located 5 km above the Moho (which is at 650°C), the real temperature is 639°C (reading isoth

[2021-05-11 01:30] julesghub commented on #232
Hi @benedictecenki, this sounds odd.
Can you share the model file with me (privately if required) so I can investigate?

The good thing is this happens at t=0, so no significant computation is required to investigate the issue.

[2021-05-11 01:47] rcarluccio commented on #232
Hi @benedictecenki,

I was just wondering what visualisation tool are you using? There have been a few times when paraview would give slightly different values, but simply plotting a depth profile through python would provide the expected value.

Sent from my iPhone

[2021-05-12 01:26] Peigen-L opened #233 ""You have not passed anything to the temperature argument." when running testing examples on Gadi."
Hi,

I am running the testing code "`UWGeodynamics/benchmarks/2D_Self_Subduction_Case1`" on Gadi.

And the error message recalled as:
`/g/data/jq14/lp5029/codes/UWGeodynamics_2.9.6/lib/python3.9/site-packages/UWGeodynamics/_model.py:1524: UserWarning: You have not passed anything to the temperature argument. The temperature field will not be initialised
  warnings.warn("You have not passed anythin

[2021-05-12 03:49] julesghub commented on #233
Hi @Peigen-L,
I notice the version of UWGeodynamics you are using is `2.9.6`, but the version of underworld is `2.10.1b`.
I suspect this is the problem. 2.9 UWGeo should only be run with 2.9 UW. This is how we structure the releases of the UWGeo. (Note the final version digit shouldn't matter)

I was able to run this model in the docker `underworldcode/uwgeodynamics:v2.9.5`, which uses UWGeo `2.9.

[2021-05-14 02:41] julesghub commented on #232
Looks like a problem is when one asks the tracer particles to give output in "degC" for temperature, but the definition of the original temperature field is in "degK".
Can you switch the passive tracer output to "degK" and report back on the issue. Thanks.

[2021-05-18 00:03] Peigen-L commented on #233
Solved, Thank you Julian. @julesghub

[2021-05-18 00:03] #233 closed

[2021-05-18 00:13] Peigen-L opened #234 "Process stuck at "finished update of weights for swarm "PCZVT0Y7__swarm""."
Hi,
I am using HPC to run my model with UWGeodynamics v2.10.1
When I boosted up my model resolution from (128,64,64) to (296, 96, 96), the model computing stop at "finished update of weights for swarm "PCZVT0Y7__swarm"" and no HDF files projected in the target directory.
Here is the log massage:

- `2021-05-14T11:22:59+0800: == JOB START  NAME=3D_model QUEUE=betmap HOST=pnod2-20-12 DATE=Fri May 14

[2021-05-18 01:02] julesghub commented on #234
The local range of elements 74x48x48 is extremely high. I believe you're running out of RAM on a given CPU.
Were other log files produced from the HPC system, i.e. error logs?

I suggest adding many more CPUs, try factor 16 increase.
For the `(128,64,64)` run what was the local range? Try and produce a similar range to that run.

[2021-05-19 05:44] Peigen-L commented on #234
For `128,64,64`, the local range is `16,16,8`.
I wonder how to increase resolution without not changing the local range of ranking?
I have tried with 64 and 128 CPUs, issue remains the same.
I didn't see the program running out of memory. I saw that some of the MPI ranks were empty, which means Underworld2 couldn't split my job to small and even MPI tasks.

[2021-05-19 06:21] julesghub commented on #234
For 2D models, if you double the resolution you'll require 4x cpu count. Ffor 3D models, 2x resolution means 8x cpu count.

Underworld could split on every processor?!?
Sounds like a configuration/compilation issue or perhaps a system runtime environment issue.

Which HPC machine are you using? Do you have some information on it?
Can you send:
 1) the config.cfg file located under `underworld/libU

[2021-05-19 08:24] Peigen-L commented on #234
Hi, @julesghub . Before we check with the system environment or how Underworld was configured/compiled, can you please give me a email address so I can share my codes in .py and/or .ipynb to see if you can reproduce what I get? I am concerned about it is my coding mistake.
And I would like to give the conversation log to you and please have a check what is going on when there were "too many" MPI t

[2021-05-20 00:46] julesghub commented on #234
@Peigen-L - for sharing .ipynb or .py files we prefer to use github repos rather than email.
I have made a private repo for you to upload the files too @ https://github.com/underworld-community/Peigen-HPC
Please upload the files there and I can take a look at them.

Which HPC are you running the code on?

[2021-05-20 00:51] Peigen-L commented on #234
Thank you so much. @julesghub
I am using the HPC from DUG McCloud.
I will upload the files later in the repo.

[2021-05-20 23:53] julesghub commented on #234
Thanks for the file uploads. 2 things I'll point out:
1) `mumps` and 3D models is generally a bad idea. It consumes lots of memory and resources for jobs as large as yours. Please comment out this line:
`Model.solver.set_inner_method("mumps")`
in your models. Can you check if the original "working" model at `(128,64,64)` works reasonably without mumps.

2) Dug McCloud. I have no experience using i

[2021-05-21 01:55] Peigen-L commented on #234
Hi, @julesghub
Thank you for your comments.
I use mumps because I always have the best luck with it. I will try other solver options with more CPUs today, and tell you the results later.

[2021-05-21 12:49] benedictecenki commented on #232
Thanks @julesghub I have re-ran a model just changing the unit of temperature to "degK" for the passive tracers. The temperature record of the passive tracers seem to match the model now and especially the phase change T.

However the record of the material field index by the particles is still completely wrong. Can this be a unit problem as well ? (given that material has no unit we used a neutra

[2021-05-21 13:46] benedictecenki commented on #232
@julesghub just noticed that the melt portion recorded by passive tracers is wrong as well

[2021-05-24 00:19] julesghub commented on #232
Yes i suspect it's a unit problem (not an indexation problem).
Can you remove the `u.mol` units we added for the melt and material fields?

[2021-05-24 01:32] Peigen-L commented on #234
[code]
Hi, @julesghub

After two hours wait with 256 CPUs. The computing for updating of weights for swarm finished and continue.
I used default slover "fmgres".
This is the solver option I used for this:

[code]

[2021-05-24 01:35] Peigen-L commented on #234
I think this issue has been solved, thank you so much.

[2021-05-24 01:44] julesghub commented on #234
[code]
That looks more promising. Great work!

A 2 hour wait for the swarm weighting doesn't seem good. Consider pushing to higher numbers of CPUs to minimise the work per CPU for the swarms weight.

The solver options seem good. Ideally the solve part of a model should be the longest operation - not swarm weights, particle advection or writing to disk (checkpointing).

[2021-05-24 01:52] Peigen-L commented on #234
Thank you @julesghub.
I have also run a test with the situation "when there were 'too many' MPI tasks for a small model".
It is a little bit strange that Underworld just hanging there and do nothing.
[code]

[2021-05-24 02:04] Peigen-L commented on #234
And I also want to improve the efficiency of the HPC by trying to "tell" the computing nodes what to do and get a "perfectly paralleled" MPI tasks and keep them busy and avoid any wastes of resource.
How can I achieve that "perfectly paralleled"?

[2021-05-24 04:18] julesghub commented on #234
"Perfectly parallel" is difficult because it all depends on the model configuration and hardware setup.

When using `fmgres` your model is using multigrid (MG). The MG strategy works best with even number of elements in each direction as it iterates to halve the mesh along x, y & z. The more iterations in general the better MG.

The best thing to do is a "parallel test".
1) Take the model you want

[2021-05-25 01:45] Peigen-L commented on #234
Thank you @julesghub. I doubled the number of CPUs again and it works fine.

[2021-05-25 01:45] #234 closed

[2021-05-25 09:55] benedictecenki commented on #232
If I remove the "units=u.mol", I get the follwing error:
TypeError: add_tracked_field() missing 1 required positional argument: 'units'

That's why we have tried to avoid the problem using a "neutral" unit. It seems to accept "units=1" but I am not sure about the implications. Any idea ?

[2021-05-25 10:36] patrice-rey commented on #232
Try units = None

[2021-05-28 06:33] benedictecenki commented on #232
The values for material and melt portion seem to be correct until the first restart. But after the first restart the values are wrong.

[2021-06-03 12:16] benedictecenki commented on #232
Seems to be similar for the time field and viscosity field recorded by passive tracers as well...

[2021-06-10 04:23] bknight1 opened #235 "Memory limit crashing UW when creating a large numpy array for passive tracers"
Hi team,

I am trying to create a passive tracer surface for my 3D model to track the boundary between the sticky air and crust. I am trying to do it at quite a high resolution (1 km) and using numpy arrays this produces quite a large dataset which causes the model to crash.

I've made a lower resolution array and created a passive tracer variable, when checking the size of these arrays using sys

[2021-06-18 17:02] benedictecenki commented on #232
It seems that the problem occurs only when the model needs to be restarted ! We I start a run, the values recorded are correct but if the model stops, the values are wrong right after restarting it

[2021-06-21 06:26] bknight1 commented on #235
Turns out it was due to my implementation to create the x y z coordinates taking ages. I found a stack overflow answer to create the grid, which is much quicker:

[code]

[2021-06-21 06:26] #235 closed

[2021-06-27 03:25] longgangfan opened #236 "The XDMF.fields and XDMF.swarms show quite different pattern"
The materialField displayed in the paraview show quite different pattern between XDMF.fields  and XDMF.swarms.
![位图](https://user-images.githubusercontent.com/11954551/123531516-c3052700-d737-11eb-89f9-4dc42af7bb7d.png)
![位图2](https://user-images.githubusercontent.com/11954551/123531517-c8627180-d737-11eb-963c-2244544ef81e.png)
The two snapshots are from the same time step, one is material filed o

[2021-06-28 01:46] Peigen-L opened #237 "Issue with Kinematic boundary conditions"
Hi,
I am trying to build an imposed surface velocity condition of 3.5 cm/year from the trailing edge to a line of 300 km seaward of the trench in the example subduction model.
This is the velocity boundary condition I setting:
[code]
The problem is the result doesn't change compared with the free-slip everywhere condition.
[code]
Please help

[2021-06-29 01:26] julesghub commented on #236
The two images look quite different. Material 6 is different too. That's odd.

The difference between materialField and projMaterialFields.
projMaterialFields is a projection of the swarm material indices ("materialField") to the mesh. i.e. particles to mesh projection.
The projection will smear the distribution - and this depends on the resolution of the mesh used.
I'm not sure about the offset.

[2021-06-29 10:57] longgangfan commented on #236
Thank you, you are right.  When I tried  a high resolution, the problem solved.

[2021-06-29 10:57] #236 closed

[2021-07-07 23:52] #237 closed

[2021-07-08 00:14] Peigen-L opened #238 "Issues when using Undeworld2 on Gadi"
Hello Romain or Julian,

I am trying to using Underworld2 on Gadi. With the kind help from the NCI experts, the configuration of Underworld2 has finished under the folder of:  `/g/data/jq14/lp5029/codes/underworld/`

On well tested 2D model I got a error message from Gadi like this:
[code]

This is the PBS file I used for initializing Underworld:
[code]

This is nci_gadi.sh file:

[code]

Is there

[2021-07-08 01:27] julesghub commented on #238
Hi Peigen,
We have updated our gadi install scripts for the upcoming 2.11 release of underworld.
Please see this example script
https://github.com/underworldcode/underworld2/blob/v2.11_release/docs/install_guides/nci_gadi/gadi.sh

We also have a machine accessible installation available at `/g/data/m18/codes/` on gadi.

[2021-07-08 01:42] Peigen-L commented on #238
Thanks for this Julian.
Is "a machine accessible installation available" means I can directly using the sample.pbs for model running with some changes in PBS options, foodar.py and model name?

[2021-07-08 01:47] julesghub commented on #238
@Peigen-L Yes you should be able to use `sample.pbs`. Let me know if you have issues with it.

Please do not change any pip models in the virtualenv. If you need custom python packages then install them in your own directory space and use PYTHONPATH to reference them.

[2021-07-08 02:28] Peigen-L commented on #238
@julesghub Hi Julian.
On testing model I got a error message from Gadi:
/local/spool/pbs/mom_priv/jobs/25158339.gadi-pbs.SC: line 12: /g/data/m18/codes/UWGeodynamics_2.10.0.sh: No such file or directory

[2021-07-08 02:56] julesghub commented on #238
Change this line
`#PBS -l storage=gdata/jq14`
to
`#PBS -l storage=gdata/m18`

That will give your job's compute nodes access to the /g/data directory. You should have read/execute access to it.

[2021-07-08 03:24] Peigen-L commented on #238
After change the line to storage=gdata/m18.
The error remain the same as: /local/spool/pbs/mom_priv/jobs/25162236.gadi-pbs.SC: line 12: /g/data/m18/codes/UWGeodynamics_2.10.0.sh: No such file or directory

[2021-07-08 05:58] julesghub commented on #238
Can you run
`source /g/data/m18/codes/UWGeodynamics_2.10.0.sh`
from the commandline?
Does the virtualenv correctly start up. You can check with `pip list`, it should contain `underworld` and `UWGeodynamics`

[2021-07-08 06:01] Peigen-L commented on #238
Sorry, I can source this file from my side.
bash: /g/data/m18/codes/UWGeodynamics_2.10.0.sh: No such file or directory

[2021-07-08 06:03] julesghub commented on #238
Oh I recall now, we created a group on Gadi called `underworld`. And only users within that group have read/execute access.
Either we:
1) Get you into that group.
2) you can use the install scripts `gadi.sh` in the github link I sent you before.

[2021-07-08 06:04] Peigen-L commented on #238
Can you added me into the group?

[2021-07-08 06:05] julesghub commented on #238
I'll need your gadi username.

[2021-07-08 06:06] Peigen-L commented on #238
LP5029

[2021-07-08 06:13] julesghub commented on #238
Request for NCI admin to add you to `underworld` group made.

[2021-07-08 06:14] Peigen-L commented on #238
Thanks!

[2021-07-08 06:47] Peigen-L commented on #238
Request for underworld group has been made. Please approve it.
Thank you.

[2021-07-12 04:07] Peigen-L commented on #238
@julesghub Hi, Julian. Thanks for the invitation on Gadi. I have joined in the software group underworld on NCI.
However, I still have trouble on sourcing the folder m18:
'''
source /g/data/m18/codes/UWGeodynamics_2.10.0.sh
bash: /g/data/m18/codes/UWGeodynamics_2.10.0.sh: No such file or directory
'''
Should I request again to join m18: Instabilities in the convecting mantle and lithosphere?

[2021-07-12 05:22] Peigen-L commented on #238
@julesghub  Hi, Julian. Thanks again for letting me in to the group m18.
I can source the files in m18 now and virtualenv start up properly like: `(UWGeodynamics_2.10.2) [lp5029@gadi-login-09 test]$`
By checking the `pip list` I can see `underworld 2.10.1b0` and `UWGeodynamics 2.10.2` in the package list.

However, when I am using sample.pbs to start running the model I got some error message from

[2021-07-12 05:38] julesghub commented on #238
get rid of
`export PYTHONPATH=/home/561/lp5029/.local/lib/python3.9/site-packages:/g/data/jq14/lp5029/codes/UWGeodynamics_2.9.6/lib/python`

[2021-07-12 05:41] julesghub commented on #238
it's causing an issue because of the h5py install in your `.local` directory.

[2021-07-12 05:49] Peigen-L commented on #238
Thanks! It is working now!
The testing results come out correctly!

[2021-07-12 05:50] #238 closed

[2021-07-21 00:20] tyszwh opened #239 "Restart is stuck within `Time Integration - 7.15256e-06 [min] / 0.561747 [max] (secs)`"
**Hi, Dr Romain

I have a problem with restart fucntion.
Fisrtly I ran the model with `mpirun - np 8 python 3 xx.py`
And then I restart it with the same command.
It seems that the restart is normal but it is stcuk within `Time Integration - 7.15256e-06 [min] / 0.561747 [max] (secs)`

The output is shown below.**
`
Global element size: 64x32
	Local offset of rank 0: 0x0
	Local range of rank 0: 32x1

[2021-08-11 15:43] longgangfan opened #240 "Tutorial 11 : Coupling a thermo-mechanical model with Badlands (2D) lost sed.time3.hdf5"
In the Tutorial 11, after running 2 steps, there are sed.time1.hdf5, sed.time2.hdf5, sed.time4.hdf5, sed.time5.hdf5 in the outbdls/h5. But the expected sed.time3.hdf5 is lost.

[2021-08-16 07:53] HanyMKhalil opened #241 "Adding thermal anomaly to the 3D model"
Dear Romain, all,

How can I add a thermal hemispherical weakness, e.g., plume head, in a middle of 3D model?

I tried to add spherical material and assign a temperature for it in the Temperature boundary conditions but did-not work. any work around this?? how can I alter the geothermal gradient so that I creates anomaly with hemispherical or linear shape?

Thanks alot

[2021-08-16 08:23] HanyMKhalil commented on #41
Hi ofbodur , Romain

I saw this post and its quite interest could you please elaborate more on it? I want to add a plume weakness at the base of the lithosphere so I created a spherical shape as a new material (I couldnot find a way to create a hemispherical shape if you have any ideas?) and I only assigned a temperature for it in the Temperature BC, but after model init I desplayed the temperatur

[2021-08-17 23:12] ofbodur commented on #41
Hi HanyMKhalil,
Perhaps your newly created spherical shape is being overwritten by the ambient mantle or another material. You better check that first. After setting the temperature stabilisation by ModelName.init_model(), you may consider accessing the temperature field (from the h5 files) and if you figure out how to access those elements in the spherical model, then you can modify the values of

[2021-08-18 01:19] JoeIbrahim opened #242 "UW function that changes along Model.x as velocity BC"
Hello,

I'm trying to implement a variable boundary condition at the base of the model (that's supposed to simulate doming kinematically) that changes along the X-axis.

[code]

Ideally using this function the velocity field at the base along the Y-axis would look like this:
![image](https://user-images.githubusercontent.com/50604575/129820458-aa003874-55b2-491d-bf9a-5238b282cc99.png)

Though what

[2021-08-18 15:13] HanyMKhalil commented on #41
Hi Ofbodur,

Thanks alot I will try to not define a specific value for the mantle, however I donot think i know how to access and modify the teperature on the mesh where I defined the spherical shape since I am using UWgeodynamics no much I can do.

I just created a spehrical shape in the model material and then in BC i defined its temperature in this way:

Model.set_temperatureBCs(top=293.15 * u.

[2021-08-18 15:56] ofbodur commented on #41
Hi HanyMKhalil,

As you will see from Romain's comment above, you can change the boundary conditions after you initialise the temperature field, and in that step where you redefine the boundary conditions, I would recommend removing the part where you fix the temperature of the mantle.

That said, I was using UW1 so I do not know if this solution will apply to UWGeodynamics.

[2021-08-19 00:30] patrice-rey commented on #41
Hi HanyMKhalil,
Make sure that your temperature clips are after the Model.init_model() which initialises the temperature field.

[2021-08-19 04:12] JoeIbrahim commented on #242
I tried a simpler boundary condition along the base where before 20km along the X axis I impose positive Model.x BC and after the 20km its -Model.x :

[code]

and I got a Vy profile along the base that looks like this:
![image](https://user-images.githubusercontent.com/50604575/130005606-5d235afa-3e71-41ce-a85d-1f32c007ac8d.png)

I'm not sure how the scaling with Model.x works, is it being rescale

[2021-08-23 02:15] julesghub commented on #242
Hi Joe, Model.x is a `uw.fn`.
[code]
As such it isn't "lazy executed" under `GEO.nd()` in the conditional for the velocityBCs.

Can you instead build a standalone numpy array using your empirical formula and use
`GEO.dimensionalise(Model.mesh.data[:,0], u.km).magnitude`
to build a vector of `x` values.
Input this standalone numpy array into the conditional instead of the `GEO.nd(Model.x)`

[2021-08-23 07:18] JoeIbrahim commented on #242
Hi Julian,

Thanks for the response!

So I've created a numpy array using my formula and the x values using:

`
mycosinfunction=np.array([1.-(0.00308505*i**2) + (1.58626*10.**-6. * i**4.) for i in GEO.dimensionalise(Model.mesh.data[:,0], u.km).magnitude
])
`

If I try to put that into the boundary condition like this:

`Conditionsbottom = fn.branching.conditional([(Model.x > GEO.nd(20. * u.kilomet

[2021-08-25 01:28] julesghub commented on #242
Ok the trick here is to use your existing formula with a substitution.

Make
[code]
And swap all `Model.x` for `real_x`  in the following
[code]
My previous answer about the standalone numpy array was wrong, thanks for trying it. Give the above a go and let me know it goes.

[2021-08-25 02:07] JoeIbrahim commented on #242
Perfect that did the trick!
![image](https://user-images.githubusercontent.com/50604575/130714430-65c5cd50-e58a-4745-b8e3-636ac389f49d.png)

Thanks for your help Julian!

[2021-08-25 02:07] #242 closed

[2021-08-25 02:35] julesghub commented on #242
@JoeIbrahim thinking about this some more the use of the "trick" will contain real world values in the numerics (ie, unscaled). This is bad.
A better way forward is NonDimensionalise all the coefficients in the forumla rather than Dimensionalise Model.x.

So `(0.00308505*Model.x**2)` would become GEO.nd(0.00308505 * u.km**-2)*Model.x**2.

Also there's no need to wrap the entire formula in GEO.nd()

[2021-08-25 05:10] JoeIbrahim commented on #242
I gave this way a go and it works too. I'll keep non-dimensionalising the coefficients moving forward. Thanks for all the help!

[2021-08-29 23:34] julesghub commented on #232
Hi @benedictecenki When you say the values seem wrong after the restart how are you accessing the values? Through python or the *.h5 files?

Please be aware that after a restart the `Lag_Grid` python object still references the initial tracer swarm - created prior to the restart. To reference the restarted Lag_Grid, after the restart operation, you MUST use the `Model.lag_grid_tracers` python obje

[2021-09-08 00:46] longgangfan commented on #240
May be solved here https://github.com/badlands-model/badlands/issues/25#issuecomment-913524375

[2021-09-08 00:46] #240 closed

[2021-09-09 14:54] ZhiqYu opened #246 "Shape mismatch"
Hi
I recently downloaded _Underworld2 v2.11.0_ and _UWGeodynamics v2.10.2_
When I run the file **tutorial_2_melt.ipynb**
The following error occurs whenever **model.init_model()** is encountered
And I try to run other files **__.ipynb**, there is the same error
![1](https://user-images.githubusercontent.com/89136167/132699325-fcda083e-1022-4fcd-80d7-804bc3f7f883.jpg)

The file running under Docker

[2021-09-09 22:50] patrice-rey commented on #246
Hi ZhiqYu,
In Underworld2 v2.11.0 the function Model.init_model() takes two attributes:  Model.init_model(temperature=True, pressureField=True).

[2021-09-10 05:08] ZhiqYu commented on #246
Thanks
The Model.init_model() is ok, but the **Model.run_for()**is error
Like this
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-325-27c67c4c5683> in <module>
----> 1 Model.run_for(0.5 * u.megayears, checkpoint_interval=0.1*u.megayears)

~/.local/lib/python3.8/site-packages/UWGe

[2021-09-10 06:48] patrice-rey commented on #246
.... I got around this by using the version 2.10.2.

[2021-09-10 14:16] ZhiqYu commented on #246
Hi @patrice-rey
Thank you for your reply！
But I also use the version 2.10.2

Error is as follows:

Running with UWGeodynamics version 2.10.2
Options:  -Q22_pc_type gkgdiag -force_correction True -ksp_type bsscr -pc_type none -ksp_k2_type NULL -rescale_equations False -remove_constant_pressure_null_space False -change_backsolve False -change_A11rhspresolve False -restore_K False -A11_ksp_type preon

[2021-09-12 23:49] julesghub commented on #246
Hi @ZhiqYu,
Underworld and UWGeodynamics are designed to be used with the same version numbers.
You mentioned the model worked on Docker but not on HPC. What versions of the code are you running on both platforms.
Use
`$ python -c 'import UWGeodynamics as GEO; print("UWGeo/UW versions: ", GEO.__version__, GEO.underworld.__version__)'`

We recently released Underworld `2.11.0`  but UWGeodynamics `2

[2021-09-13 01:20] ZhiqYu commented on #246
Thank you for your reply. @julesghub
I have known the problem and look forward to the release of the new version

[2021-09-13 01:34] julesghub commented on #246
Great to hear. If the problem is no longer an issue can you close the ticket?

You can "watch" or "star" the UWGeodynamic GitHub repository to be notified when a new release comes out?

[2021-09-13 01:45] #246 closed

[2021-09-16 08:16] benedictecenki commented on #232
Thanks @julesghub In this kind of model, which are sequential (I plan a series of steps with different boundary conditions building on each other) I guess this solution won't be of much use. In a one step model, there is no problem.

[2021-09-16 08:24] benedictecenki commented on #232
@julesghub to check the values, I am looking through the spreadsheet view (Paraview) at the Lag_grid.xdmf file.

The command line to record the passive tracers values is currently (as an example for the material field)
Lag_Grid.add_tracked_field(Model.materialField, name="LagGridMaterialField", units=None, dataType="

What would be the command line to use after restart to call the Material field o

[2021-09-18 02:25] bknight1 opened #247 "2D surface processes implementation"
Hi all,

I've written a file that adds surface processes into the UWGeodynamics framework (in 2D), through either (1) a diffusive surface or (2) using an erosion and sedimentation rate.

I've tested both functions in serial and parallel and they work fine. I've added an example for each, with both examples based on tutorial 6.

I have a working version of erosion and sedimentation rates in 3D, how

[2021-09-18 03:00] patrice-rey commented on #247
Hi Ben, this looks very useful, thanks for sharing!

[2021-09-20 00:53] julesghub commented on #247
This sounds promising Ben! :+1:
Contributions like this are best shared as a Pull Request via GitHub. Would you be able to make one?
We have guidelines for it here https://github.com/underworldcode/UWGeodynamics#how-to-create-a-pull-request-pr

Let me know how you go.

[2021-09-20 04:22] bknight1 commented on #247
Thanks @patrice-rey and @julesghub

I'll give it a go @julesghub and let you know how I get on

[2021-09-20 22:16] rbeucher commented on #247
Thanks @bknight1. I'll have a look.

[2021-09-22 01:52] ZhiqYu commented on #246
Hi @julesghub
Can the problem be solved If I install Underworld2.10.2 and UWG 2.10.2 ？
But I have installed Underworld 2.10.2, Here's another question the same as[https://github.com/underworldcode/underworld2/issues/543](url)

[2021-10-04 00:23] #247 closed

[2021-10-04 03:59] bknight1 commented on #197
Hi @rbeucher

I'm interested in this again as I want to include some thermodynamic modelling calculations into my models to replicate a more realistic density with the geodynamic models. Once I have the density working I'll be looking at other parameters that could be implemented.

I have a PT space with a corresponding density (fig below) created using perpleX. I have then created an array for th

[2021-10-04 04:09] rbeucher commented on #197
Hi @bknight1,

In UWGeo you will have to update the density per Material.
Have a look at the *PhaseChange* Class that is used on a Material.

Your PT space could be used as a condition. But you will have to Add it to the materials.
Technically the Model class inherits from Material so a PhaseChange could be applied to the entire model.

Let me know how you go. I'll be interested to see what you co

[2021-10-04 04:14] rbeucher commented on #197
I don't think that changing the values via the .data handler is a good. idea. Better to define a function that is applied to the Model.density. You can use a condition based on P,T.

[2021-10-04 06:20] bknight1 commented on #197
Thanks for the help @rbeucher

I'll look into it over the next coming days and see if I can come up with something!

Cheers

[2021-10-05 01:46] bknight1 commented on #197
Hi @rbeucher

Quick update, I made a load of new materials which corresponds to each unique density for each material I want to perform changes in density (e.g. crust and mantle). I then modify the materialField based on the P-T to give the material index that corresponds to that density.

I'm not sure how many different materials have been used before? I have ~140 (~90 for the crust and ~50 for t

[2021-10-05 03:02] patrice-rey commented on #197
Hello @bknight, the Earth isn't in thermodynamic equilibrium, that's why we find granulite, and fresh peridotite at the Earth's surface. Adapting densities based on a thermodynamic model makes sense at high temperature, but perhaps not at temperatures prevalent in the mid to upper crust. Cheers

[2021-10-05 04:12] bknight1 commented on #197
I agree @patrice-rey, my aim is to develop a workflow so whoever is running the model can input their own thermodynamic model and which materials to apply it to. I am not a petrologist so I can't comment on the PT pseudosections, that's why I aim to create a workflow for others to be able to import their own. I recently came across a paper that used a lookup table to modify the density as the orog

[2021-10-06 23:44] jdpmoore commented on #229
Previously UWGeo used to automatically solve for the steady state temperature. This should be added to the documentation on readthedocs as a breaking change from previous versions of UWGeodynamics as it took me a while to figure it out. I came here today to flag it as an issue then found it was already an open issue.

[2021-10-08 06:00] NengLu commented on #241
Hi, Hany
You may try with a self-defined temperature field, not just the boundary condition.
which can follow the example here [1_31_User_defined_geotherm_and_TP_dependent_densities](https://github.com/underworldcode/UWGeodynamics/blob/master/docs/examples/1_31_User_defined_geotherm_and_TP_dependent_densities.ipynb)

Here is a 2D case example, 3D should be similar:
[code]

[2021-10-09 05:06] bknight1 commented on #241
That is a good approach for setting a geothermal gradient @NengLu

If you want a constant temperature for the material @HanyMKhalil you can use my approach below:

[code]

Change plume.index to your material and then you can also change the temperature.

This will diffuse over time, if you want it to remain at the same temperature you can either set it in the BC as @NengLu does above for the air a

[2021-10-10 02:27] bknight1 commented on #197
I have invited you @rbeucher to a private repo where the files are hosted. At the moment its just a PoC to show my implementation. Keen to hear if you have any feedback on the workflow.

Cheers

[2021-10-10 03:55] rbeucher commented on #197
Great. I'll see if I can have a look asap. I'm teaching this week but will do my best

[2021-10-17 13:38] ZhiqYu opened #251 "Something wrong about PETSc"
Hello
First of all ，I am happy to be able to use UWG 2.11！
But
When I ran the example in the _tutorial,_ I encountered the following error with **model.run_for()**

Running with UWGeodynamics version 2.11.0-dev-485ad28(master)

Options:  -Q22_pc_type gkgdiag -force_correction True -ksp_type bsscr -pc_type none -ksp_k2_type NULL -rescale_equations False -remove_constant_pressure_null_space False -c

[2021-10-18 04:35] julesghub commented on #251
Hi @ZhiqYu, can you please include the the error message from the console window?
Also what tutorial model was this?

[2021-10-19 00:16] julesghub commented on #251
How are you running the docker. Via kitematic or on the command line? Either one will contain the complete error message.

[2021-10-20 09:30] totaibi opened #252 "UWGeodynamics 2.11 - passive tracers and checkpoint problem"
Hello UWGeodynamics team,

I ahve installed the UWGeodynamics on our HPC with the lastest version (2.11). Our code is running on the earlier versions of UWGeodynamics, however we got error messages with passive tracers and checkpoint_intervals as follow:

The command used for passive tracers:

[code]

the corresponding error:

[code]

The command used for Checkpoint_interval:

`Model.run_for(40.0

[2021-10-20 21:41] bknight1 commented on #252
Hi @totaibi,

I believe the issue is arising due to recent changes in how passive tracers are created and then accessed in UWGeodynamics.

Instead of:
`surface_tracers = Model.add_passive_tracers(name="Surface", vertices=coords)`
it should be:
`Model.add_passive_tracers(name="Surface", vertices=coords)`

Then to track different fields it should be:

[code]

This is outlined in the newest documenta

[2021-10-20 22:05] julesghub commented on #251
Hi @ZhiqYu ,
The error is because the petsc installation (a dependency of Underworld) you have doesn't include `mumps`. `mumps` is one of the solver packages petsc can use. For 2D Underworld models we recommend using it.

You can see `mumps` is used in the model here.

And this error msg from petsc confirms mumps it's available.

I suggest you either:
1. use the Underworld Docker which includes `m

[2021-10-21 04:29] totaibi commented on #252
Hi @bknight1,

Thank you for your support. The passive tracers problem has been resolved based on your comment. I'm still getting the same message for checkpoint:

[code]

Do you have any suggestion?

Thamer

[2021-10-21 05:12] totaibi commented on #252
I installed the latest version of both packages week ago via docker

[2021-10-26 07:18] Peigen-L opened #253 "Need help: How to implement a spatially adaptive mesh on target area using UWGeodynamics?"
Hi all,

I am trying to reproduce the subduction model in [W. P. Schellart, 2017](https://www.nature.com/articles/s41467-017-01847-z#ref-CR62)
![79ee11a829f519f249f3ab5c79e0b40](https://user-images.githubusercontent.com/47806054/138825628-60f19e4f-7c79-4089-9eca-00825a037b93.png)

The script has been posted here:
[Shellart design_patrice_ray_pl.txt](https://github.com/underworldcode/UWGeodynamics/

[2021-10-27 14:13] HanyMKhalil opened #254 "Install UWgeodynamics latest on Macbook with M1"
Dear all, I have tried to install latest version of UWgeodynamics using Docker on my Macbook m1 but it says it is not compatible with ARM as it is amd64. I found a post y romain Buscher on how to install underworld on macbook with m1 but how can I adapt it to install UWgeodynamic and open it on jupyter notebook?

here is what Romain posted:
https://www.underworldcode.org/articles/how-to-install-un

[2021-10-29 07:58] HanyMKhalil opened #255 "Checkpoint problem with latest UWgeodynamics on HPC cluster"
Hi all, we were successfully installed the latest UWgeodynamics on SANAM HPC in Saudi Arabia however we have a weird problem. The code runs fine without checkpoint defined, yet when we define the checkpoint as follow:
Model.run_for(40.0 * u.megayear, checkpoint_interval=1. * u.megayear)

we get the following error:
Traceback (most recent call last):
  File "Harrat.py", line 529, in <module>
    Mo

[2021-11-01 17:14] totaibi commented on #252
Thanks again @bknight1 for your feedback and suggestion. I realized that either the file is corrupted or not in HDF5 format. Do you have any suggestions?

The loaded modules are singularity, python, and HDF5.

[2021-11-01 23:09] bknight1 commented on #252
I'm not sure why the file is becoming corrupted @totaibi.

Did you try it on a local machine to see if you could recreate the issue?

[2021-11-02 21:45] totaibi commented on #252
The same version for both UWGeodynamics and UW are working find on my local machine

I thought we could be missing loading one of the modules!?

[2021-11-02 23:21] bknight1 commented on #252
Okay sounds like a singularity issue then.... I don't have much experience using singularity unfortunately, I'll have to pass the issue on to @julesghub or @rbeucher

[2021-11-03 07:22] totaibi commented on #252
Thanks @bknight1

Here is the error message for corrupted file:

[code]

[2021-11-07 05:38] totaibi commented on #252
I want to following up. The latest version has been re-installed today on our HPC, unfortunately we still getting the same issue.

During the installation I got the following message, I thought it may guides us to the solution!

[code]

Any suggestions?

Thamer

[2021-11-07 07:53] bknight1 commented on #252
I'm not sure what the error is unfortunately.

I had a thought though, where are you trying to store the data?
e.g. what is the Model.outputDir directory? This may cause an issue if you can't access the path from within docker.

[2021-11-07 23:11] julesghub commented on #252
This appears as a h5py issue when writing swarm variables to disk.
Good suggestion @bknight1 about checking if the path `outputDir` is accessible?

[2021-11-08 03:00] totaibi commented on #252
The path is accessible, we figured out the problem may caused by the parallel computing, as the code is running on a single node. We are using srun at this stage, we will keep you posted

Thanks @bknight1 @julesghub for your continued support

[2021-11-15 10:17] #253 closed

[2021-11-18 04:20] longgangfan opened #256 "Strange proViscosity leap under lithostatic condition"
[test.py.txt](https://github.com/underworldcode/UWGeodynamics/files/7559777/test.py.txt)
From step 0 to step 1 (100000 year), the proViscosity of the crust get a big change, it is quite hard to understand.
![0_step](https://user-images.githubusercontent.com/11954551/142350599-e9147fd8-0159-4b6d-a6e9-ac9a80fe1aa2.png)
![1_step](https://user-images.githubusercontent.com/11954551/142350610-8658a8e6-c

[2021-11-18 04:51] patrice-rey commented on #256
Yep it does. A time step 0 the boundary conditions are not yet applied. So the viscosity is simply function of the temperature. At time step 1 the boundary conditions are applied, and the viscosity, which probably depends on strain rate in you model, increases.

[2021-11-18 05:30] longgangfan commented on #256
My boundary conditions are as below:
`# Temperature
Model.set_temperatureBCs(top=293.15 * u.degK, bottom=893.15 * u.degK,
                         materials=[(stickyair, 293.15 * u.degK)])

# velocity
Model.set_velocityBCs(left=[0, None],
                      right=[0, None],
                      top=[None, None],
                      bottom=[None, 0])`

1e27 seems to be too large?

[2021-11-18 05:57] patrice-rey commented on #256
Try to add a bit of velocity (2, 3 cm both sides) and see the result on the viscosity.

[2021-11-18 06:06] longgangfan commented on #256
I think it will be OK, if I add a bit of velocity. But why the proViscosity is so large, when velocity = 0?

[2021-11-18 09:15] patrice-rey commented on #256
viscosity = (deviatoric stress) / (strain_rate)

[2021-11-18 10:29] longgangfan commented on #256
Thank you. Forgive my stupidity. But what make the viscosity larger  than geological common-sense in my boundary conditions? There is no situation where the velocity = 0 on earth? or these is no such low strain_rate?

[2021-11-20 11:57] longgangfan commented on #256
Thank you, I think I know the point. I will close this issue.

[2021-11-20 11:57] #256 closed

[2021-11-24 23:25] julesghub commented on #252
Hi @totaibi, any news on this issue?

[2021-11-24 23:27] rbeucher commented on #251
I am closing this. Feel free to reopen if needed.

[2021-11-24 23:27] #251 closed

[2021-11-24 23:28] rbeucher commented on #241
I'm assuming this is resolved. Feel free to reopen if needed.

[2021-11-24 23:28] #241 closed

[2021-11-24 23:52] ZhiqYu commented on #251
ok 发自我的荣耀手机-------- 原始邮件 --------发件人： Romain Beucher ***@***.***>日期： 2021年11月25日周四 早上7:27收件人： underworldcode/UWGeodynamics ***@***.***>抄送： ZhiqYu ***@***.***>, Mention ***@***.***>主    题： Re: [underworldcode/UWGeodynamics] Something wrong about PETSc (Issue #251)
I am closing this. Feel free to reopen if needed.

—You are receiving this because you were mentioned.Reply to this email directly, view

[2021-11-25 18:33] totaibi commented on #252
Hi @julesghub, thanks for following up. The problem is still not solved yet. The code works fine on a single node, but it does not across nodes or racks due to the file signature problem as reported earlier.

The HPC supporting team have no idea about what causing this issue.

[2021-11-29 15:06] CEShale opened #257 "How could I extract an interface in a 3D model to plot a relative topography picture in UW2 ?"
#..............................................
Model = GEO.Model(elementRes=(40, 20, 50),
                  minCoord=(0. * u.kilometer, 0. * u.kilometer, 0 * u.kilometer),
                  maxCoord=(40. * u.kilometer, 20. * u.kilometer, 5.0 * u.kilometer),
                  gravity=(0., 0., -9.81 * u.meter / u.second ** 2))
#..............................................

npoints = 1000

xx = np

[2021-12-03 09:58] totaibi commented on #252
The problem could be with the current version of UWGeodynamics. How to install an earlier version? I need the key name that I can use with socket pull command

[2021-12-05 22:42] julesghub commented on #252
Hi @totaibi,
To get a previous version of the UWGeodynamics docker (singularity) use.
`docker pull underworldcode/uwgeodynamics:v2.10.2`
see all available dockers with this link
https://hub.docker.com/repository/registry-1.docker.io/underworldcode/uwgeodynamics/tags?page=1&ordering=last_updated&name=v2

I understand you're using Singularity on a HPC? Which HPC? Do you have a link?
As previously me

[2021-12-17 03:38] longgangfan opened #258 "A typo in the PlasticRheologies.json"
"Watremez et al., 2013 (LithosphericMantle)" in the line 180 should be "Watremez et al., 2013 ( AsthenosphericMantle)"
![截图_2021-12-17_11-07-49](https://user-images.githubusercontent.com/11954551/146485011-2482f3bb-a038-4c18-895e-641e7c698000.png)

[2021-12-20 21:08] totaibi commented on #252
Hi @julesghub,

Thank you for following up

I used an earlier version and got the same issue.

We are using Singularity with SANAM HPC, which is belongs to KACST (Saudi research institution). Unfortunately I could not find any link for it. The HPC is in the expansion stage, so I may raise another issue to setup the bare metal setting on it

Thank you again and the rest of UWGeodynamics team

Regar

[2021-12-20 21:08] #252 closed

[2022-01-17 05:02] rbeucher commented on #258
Thanks!

[2022-01-17 05:02] #258 closed

[2022-01-17 05:04] rbeucher commented on #255
@HanyMKhalil Do you still need help on this? I'm closing it now but feel free to re-open.

[2022-01-17 05:04] #255 closed

[2022-01-17 05:09] #229 closed

[2022-01-17 05:10] rbeucher commented on #257
I am closing this. Feel free to reopen if you need. Please clarify what you are trying to achieve.

[2022-01-17 05:10] #257 closed

[2022-01-17 05:14] rbeucher commented on #226
It's still a pb... We need to fix that...@julesghub

[2022-01-17 05:16] #157 closed

[2022-01-17 05:17] #66 closed

[2022-01-17 05:17] #131 closed

[2022-01-17 05:21] julesghub commented on #232
Hi @benedictecenki,  we have identified what's causing this error. Essentially "stale" references to old data structures were available after a restart. Your model and UWGeo documentation was previously using these "stale" references.

The fix here will stop the problem e9b9617f99f5a857ff5d43b0e28efa539dcfed64 and will be available in the upcoming 2.12 release.

Note your notebook will need minor

[2022-01-17 05:21] julesghub commented on #232
I'll close the ticket for now, feel free to reopen if you like.

[2022-01-17 05:21] #232 closed

[2022-01-17 05:42] rbeucher commented on #231
Hi @alireza-bahadori,

Thanks for spotting this. I had a look... I know it's a bit late. I think you are right. I am trying to figure out how that mistake was made... I have changed the code and this will be fixed in 2.12.

Romain

[2022-01-26 10:22] HanyMKhalil commented on #254
Hi Julian, Romain,

I am sorry had to open this again as I am now working on my mac m1 entirely and i use binder to adjust my codes online I upload the script change it, download it, then remove it so that it is not public, is that correct or I can leave my codes on binder workspace?

also I tried to follow Romain guide to install UWgeo on mac M1 but the problem is the brew function that is used t

[2022-01-26 10:25] HanyMKhalil commented on #254
Hi Julian, Romain,

I am sorry had to open this again as I am now working on my mac m1 entirely and i use binder to adjust my codes online I upload the script change it, download it, then remove it so that it is not public, is that correct or I can leave my codes on binder workspace?

also I tried to follow Romain guide to install UWgeo on mac M1 but the problem is the brew function that is used t

[2022-01-26 12:31] HanyMKhalil commented on #254
Hi all an update I was able to get the brew run now I have a probem with the h5py it always failed to install
i got this:

  ERROR: Failed building wheel for h5py
Failed to build underworld h5py
ERROR: Could not build wheels for underworld, h5py, which is required to install pyproject.toml-based projects

[2022-02-01 10:04] royarnab18 opened #262 "Problem with Model.init_model() in v2.11"
Hello everyone
I keep getting a shape mismatch while running Model.init_model() in uwgeodynamics v2.11. Is there a workaround for this issue?
![Screenshot 2022-02-01 at 9 21 08 AM](https://user-images.githubusercontent.com/42836526/151948821-c9ebe8e7-b485-41d0-9192-49cef9aa6086.png)

[2022-02-01 21:44] julesghub commented on #262
Hi @royarnab18 - are you sure your using v2.11?
The line causing where your error occurs has been modified in v2.11, ie https://github.com/underworldcode/UWGeodynamics/blob/485ad28cee2b9373a2c9673587e49a96c2e14150/UWGeodynamics/lithopress/lithopress.py#L98

How did you install the code?

[2022-02-01 22:01] royarnab18 commented on #262
Thanks for the reply. I am trying to run it in ARCHER2 using singularity. Should I reinstall the code?

[2022-02-01 22:21] julesghub commented on #262
The singularity docker for UWGeo goes to version UWGeo 2.10 at present.
All example models/scripts with that docker should be self consistent with that version of the code.

Have you tried to run the example models - do they exhibit the same error?

[2022-02-02 08:37] royarnab18 commented on #262
Yes, it does actually. The same error persists in the docker container which I tried running on a mac.

[2022-02-02 10:08] julesghub commented on #262
Which examples error?

[2022-02-04 17:41] royarnab18 commented on #262
I tried running Tutorial1. However, I found that the latest tag of the uwgeodynamics does not give this issue. I will close this for now. Thanks

[2022-02-04 17:41] #262 closed

[2022-03-09 08:50] benedictecenki opened #265 "Persistant problem for properties recorded by passive tracers after restart in v.2.12.4"
This is a follow up for issue #232

The problem on properties recorded by passive tracers after restart seems to persist in v.2.12.4

I have attached four screenshost of paraview read for the properties recorded by passive tracers. Restart takes place at step 140.
Values in steps 138 and 139 seem to be correct (make physical sense) and vary in a coherent manner. At step 140 some values (laggridmat

[2022-03-10 05:52] julesghub commented on #265
I think the old (stale) python objects are still being used to create the hdf5 files for the lag tracers.
Are these models in the private repo we set up?

[2022-03-10 06:34] benedictecenki commented on #265
Yes this is the model in public repository (UHT-granulitic-terranes) but activated for Model 1 (Fst_2RHP_diff) so that the restart occurs at 7 My after shortening

[2022-03-20 09:45] gaowqspace commented on #240
Hi，thanks for your job！
I am a rookie for underworld and learning Tutorial_11. But I don't know the model's purpose or aim?  Can you give me some explanations？

[2022-03-20 09:47] gaowqspace opened #266 "About Tutorial_11"
Hi，thanks for your job！
I am a rookie for underworld and learning Tutorial_11. But I don't know the model's purpose or aim?
Can you give me some explanations？

Thanks you again!

[2022-03-20 21:42] patrice-rey commented on #266
Its purpose, like the purpose of any other tutorials, is to help you learn underworld.

[2022-03-21 02:09] gaowqspace commented on #266
Sorry, I seem to be asking a silly question. I am try to understand it.

[2022-03-21 02:09] #266 closed

[2022-03-31 04:23] julesghub commented on #265
@benedictecenki I have fixed up the restart issue as far as I can tell. Yay! It's a complicated explanation for the fix and reasoning behind it. So I'll leave it out here and just describe the changes need to get the fix.

1) Use the underworldcode/uwgeodyanamics:v2.12.5 docker (I made it earlier today so you'll have to download it)
2) **Never** use any projected field in the passive tracer tracki

[2022-04-01 14:39] 42041030 opened #269 "The number of particles in swarm has changed"
Hi guys，
    The number of particles in the Model.swarm is 160000, When I run the model for 100 years, the number is constant, but when  I run the model for 500 years, the number becomes 160018. I wonder why the number of particles is increasing, and how to prevent the number of particles from increasing over time ？
    My underworld version is 2.10.1b. The boundaries of the model are set to be fi

[2022-04-02 04:53] patrice-rey commented on #269
The number of particles is not meant to stay constant. Particles split or merge to ensure that cells are reasonably populated.

[2022-04-02 05:20] 42041030 commented on #269
I see. Thank you very much

[2022-04-02 05:20] #269 closed

[2022-04-06 09:54] benedictecenki commented on #265
I have re-run one experiment and there seem to be no disruption of the values recorded by passive tracers after restart! Thanks @julesghub

[2022-04-06 09:59] #265 closed

[2022-04-08 07:00] gaowqspace opened #271 "model results visualization"
I opened tutorial_11 operation results _outbdl_ with _Paraview-xdmf reader_. _flow.series.xdmf_ and _tin.series.xdmf_ could load, but when I click play button, the visualization results was far from what I expected. It doesn't have 3D effection and looks like flat.

Can you tell me what is the correct way to load output results with Paraview?

Thank you!

[2022-04-09 01:19] patrice-rey commented on #271
Have you scaled the badlands output (scaling factor 0.0001 for x, y and z).

[2022-04-12 21:25] patrice-rey commented on #271
Sure, look better.
In the window Properties "Scale" is under Transforming.

[2022-04-13 02:04] gaowqspace commented on #271
Thansks for your reply!

Oh! I tried it before! This time I scaling  factor 0.0001 for x, y and z, but I saw the visualization results as same as before. I think 1:1:1 is equal to 0.0001:0.0001:0.0001 for x, y and z. Let me tell you more details about _Paraview_.

1. Run tutorial_11 in unmodifying its code.
2. Opened output results _tin.series.xdmf_with _Paraview-xdmf reader_.
3. Click _Apply_ and

[2022-04-13 03:10] patrice-rey commented on #271
Have you verified that there is some tin and flow .h5 files in the output folder?

[2022-04-13 07:03] gaowqspace commented on #271
Thanks for your reply!

Yes! My output folder contains:

- h5 folder. It includes some flow.timeT.hdf5. / sed.timeT.hdf5 / tin.timeT.hdf5.
- xmf folder. It includes some flow.timeT.xmf / tin.timeT.xmf.
- badlands.xml
- flow.series.xdmf
- tin.series.xdmf

[2022-04-13 07:32] patrice-rey commented on #271
Then I do not know.
Opening the .xdmf file in Paraview should work. Any error message?

[2022-04-13 13:17] gaowqspace commented on #271
No any error message. It can work just look like a flat. I think it should be a 3D result.

Let me see. Thank you again!

[2022-05-10 06:37] Peigen-L opened #272 "Trace/Checkpointing deviatoric stress tensor"
Hi UWGeodynamics team,

I am using UWGeodynamics on HPC system(Pawsey)  with the version of 2.11.0-dev-485ad28. I am trying to trace the 2nd Invariant of the deviatoric stress tensor(sigma zz, sigma yy, sigma xx) and the output results is zero everywhere:

The commands are used for passive tracers:

    def build_tracer_swarm(name, minX, maxX, numX, z, minY, maxY, numY):
    minX = GEO.nd(minX) ;

[2022-05-10 22:56] julesghub commented on #272
Hi @Peigen-L,
Has the model initialised and solved an iteration of stokes, i.e. `Model.run_for()`, before you have inspected the `data` arrays?

[2022-05-11 01:43] Peigen-L commented on #272
Hi @julesghub

Thank you for your reply. Yes, the data arrays I got here are the solved results after 3 timesteps(`Model.run_for(nstep=3, checkpoint_interval=1)`).

    Running with UWGeodynamics version 2.10.1-dev-164585a(master)
    Options:  -Q22_pc_type uw -ksp_type bsscr -pc_type none -ksp_k2_type NULL -rescale_equations False -
    remove_constant_pressure_null_space False -change_backsolve

[2022-05-22 23:33] rbeucher commented on #272
@julesghub Have you had a closer look at this.
This is with 2.11, Did the changes you made recently would have an effect?

[2022-05-22 23:45] rbeucher commented on #272
@Peigen-L Can you share the model? I would like to see how you define the stressTensor variable.

[2022-05-22 23:46] rbeucher commented on #254
I think the new docker ARM64 images should fix this issue. I am closing it.

[2022-05-22 23:46] #254 closed

[2022-05-22 23:51] julesghub commented on #272
Agreed, a minimal example of the model would be helpful @Peigen-L

@rbeucher I don't believe the recent changes, re: checkpointing PT fields, effects the projStressTensor.

[2022-05-22 23:59] rbeucher commented on #271
Hi @gaowqspace ,

This is a Baldands issue so I am transferring it to Badlands.
However, you're output is normal. Badlands surfaces are 2D. You can obtained a 3D surface by applying a calculator filter.
![Screenshot from 2022-05-23 09-55-20](https://user-images.githubusercontent.com/3680918/169721722-f04c0655-ec06-439e-b5e7-c2e67870d937.png)

Note that this is how I do it but I recall @tristan-sal

[2022-05-23 00:04] #231 closed

[2022-05-23 00:05] #221 closed

[2022-05-23 00:25] #271 closed

[2022-05-23 00:28] rbeucher opened #273 "**WARNING** UWGeodynamics > = 2.13 now lives under Underworld"
Hi All,

In an effort to simplify maintenance and compatibility between Underworld and UWGeodynamics, we have decided to merge
`UWGeodynamics` into `Underworld`.

From **version 2.13**, `UWGeodynamics` now lives under `Underworld`
To import `UWGeodynamics`, use `from underworld import UWGeodynamics`
You can submit issues to the [Underworld repository](https://github.com/underworldcode/underworld2)